body {
    background-image: url('../imgs/cloud-air-sky-nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 93.25vh;
}

.card-header {
    color: #333;
    text-transform: uppercase;
}